{% extends "visch/base.html" %}

{% block head %}
{% endblock %}


{% block content %}
    <h1 class="my-4">Entdecke die schönsten Läden deiner Nachbarschaft</h1>

        <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Bist du Ladeninhaber?</h4>
          <div class="card-body">
            <p class="card-text">Erstelle jetzt ein virtuelles Schaufenster für deinen Laden und bleib mit deinen Kunden in Kontakt, auch wenn sie nicht persönlich vorbeikommen können.</p>
          </div>
          <div class="card-footer">
            <a href="{% url "visch:register" %}" class="btn btn-primary">Jetzt registrieren</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Bist du Kunde?</h4>
          <div class="card-body">
            <p class="card-text">Du möchtest auch in Zeiten von Covid-19 nicht auf deine Lieblingsläden in der Nachbarschaft verzichten? Bleib deinen lokalen Händlern treu und nutze ViSch und dich inspirieren und beraten zu lassen. Du kannst dir deine Waren im Geschäft zusammenstellen lassen und dort abholen oder sie dir vorbeibringen lassen.</p>

          </div>
          <div class="card-footer">
            <p class="card-text">Gibt deine Adresse ein:</p>
            <form method="post" action="{% url 'visch:map' %}">
              {% csrf_token %}
              {{ address_form.as_p }}
              <button type="submit">Jetzt entdecken</button>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- /.row -->

{% endblock %}