{% extends "visch/base.html" %}
{% load static %}

{% block head %}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.3.0/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block content %}
<div style="padding-top: 50px">
    <h1>Läden in deiner Nachbarschaft ({{ map_center }})</h1>
    <div id='map' width="100%" style="height: 500px"></div>
    <script>
    L.mapbox.accessToken = '{{ mapbox_access_token }}';
    var map = L.mapbox.map('map')
        .setView([40, -74.50], 9)
        .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));
    </script>
</div>
<div style="padding-top: 30px; padding-bottom: 30px">
<h2>Liste</h2>

</div>

{% endblock %}
